@model MES_Lite.Web.Models.MaterialLotViewModel

@{
    ViewData["Title"] = "Material Lots";
}

<h1>Material Lots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-page="" method="get">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].LotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].MaterialDefinition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialLotsList[0].ExpirationDate)
            </th>
            <th></th>
        </tr>


        <tr>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="searchid" asp-for="CurrentFilterId" />
                    </p>
                </div>

            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="searchmatdefid" asp-for="CurrentFilterMatdefId" />
                    </p>
                </div>

            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="searchqty" asp-for="CurrentFilterQuantity" />

                    </p>
                </div>
            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="searchstatus" asp-for="CurrentFilterStatus" />

                    </p>
                </div>
            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="number" name="searchsupplier" asp-for="CurrentFilterSupplier" />

                    </p>
                </div>
            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="date" name="searchcreatedat" asp-for="CurrentFilterCreatedAt" />

                    </p>
                </div>
            </th>
            <th>

                <div class="form-actions no-color">
                    <p>
                        <input type="date" name="searchexpire" asp-for="CurrentFilterExpiration" />

                    </p>
                </div>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <input type="submit" value="Search" class="btn-primary" />
                    </p>
                </div>
            </th>

            <th></th>
        </tr>





    </thead>
    <tbody>
@foreach (var item in Model.MaterialLotsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDefinitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</form>

@{
    var prevDisabled = !Model.MaterialLotsList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.MaterialLotsList.HasNextPage ? "disabled" : "";

    <a asp-page="/MaterialDefinitions/Index"
       asp-route-searchid="@(Model.CurrentFilterId)"
       asp-route-searchmatdefid="@(Model.CurrentFilterMatdefId)"
       asp-route-searchqty="@(Model.CurrentFilterQuantity)"
       asp-route-searchstatus="@(Model.CurrentFilterStatus)"
       asp-route-searchsupplier="@(Model.CurrentFilterSupplier)"
       asp-route-searchcreatedat="@(Model.CurrentFilterCreatedAt)"
       asp-route-searchexpire="@(Model.CurrentFilterExpiration)"

       asp-route-pageIndex="@(Model.MaterialLotsList.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="/MaterialDefinitions/Index"
       asp-route-searchid="@(Model.CurrentFilterId)"
       asp-route-searchmatdefid="@(Model.CurrentFilterMatdefId)"
       asp-route-searchqty="@(Model.CurrentFilterQuantity)"
       asp-route-searchstatus="@(Model.CurrentFilterStatus)"
       asp-route-searchsupplier="@(Model.CurrentFilterSupplier)"
       asp-route-searchcreatedat="@(Model.CurrentFilterCreatedAt)"
       asp-route-searchexpire="@(Model.CurrentFilterExpiration)"

       asp-route-pageIndex="@(Model.MaterialLotsList.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
}