@model MES_Lite.MesEntities.MaterialDefinition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialDefinition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conformity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conformity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Critical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Critical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiresDoubleCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiresDoubleCheck)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
