@model MES_Lite.Web.Models.MaterialDefinitionViewModel

@{
    ViewData["Title"] = "Material Definitions";
}

<h1>Material Definitions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-page="" method="get">
<table class="table">


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDefsList[0].MaterialId)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Description)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Version)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].UoM)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].MaterialClassId)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Specification)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Supplier)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Conformity)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].Critical)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MaterialDefsList[0].RequiresDoubleCheck)
            </th>
            <th></th>
        </tr>


            <tr>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchid" asp-for="CurrentFilterId" />
                        </p>
                    </div>

                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchdescr" asp-for="CurrentFilterDescr" />
                        </p>
                    </div>

                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchversion" asp-for="CurrentFilterVersion" />

                        </p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchuom" asp-for="CurrentFilterUoM" />

                        </p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="number" name="searchclassid" asp-for="CurrentFilterMatClassId" />

                        </p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchspec" asp-for="CurrentFilterSpec" />

                        </p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchsupplier" asp-for="CurrentFilterSupplier" />

                        </p>
                    </div>
                </th>
                <th>
                    <div class="form-actions no-color">
                        <p>
                            <input type="submit" value="Search" class="btn-primary" />
                        </p>
                    </div>
                </th>
                <th></th>
            </tr>



    </thead>
    <tbody>
@foreach (var item in Model.MaterialDefsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conformity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Critical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiresDoubleCheck)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</form>


@{
    var prevDisabled = !Model.MaterialDefsList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.MaterialDefsList.HasNextPage ? "disabled" : "";

    <a asp-page="/MaterialDefinitions/Index"
       asp-route-searchid="@(Model.CurrentFilterId)"
       asp-route-searchdescr="@(Model.CurrentFilterDescr)"
       asp-route-searchversion="@(Model.CurrentFilterVersion)"
       asp-route-searchuom="@(Model.CurrentFilterUoM)"
       asp-route-searchclassid="@(Model.CurrentFilterMatClassId)"
       asp-route-searchspec="@(Model.CurrentFilterSpec)"
       asp-route-searchsupplier="@(Model.CurrentFilterSupplier)"

       asp-route-pageIndex="@(Model.MaterialDefsList.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="/MaterialDefinitions/Index"
           asp-route-searchid="@(Model.CurrentFilterId)"
       asp-route-searchdescr="@(Model.CurrentFilterDescr)"
       asp-route-searchversion="@(Model.CurrentFilterVersion)"
       asp-route-searchuom="@(Model.CurrentFilterUoM)"
       asp-route-searchclassid="@(Model.CurrentFilterMatClassId)"
       asp-route-searchspec="@(Model.CurrentFilterSpec)"
       asp-route-searchsupplier="@(Model.CurrentFilterSupplier)"

       asp-route-pageIndex="@(Model.MaterialDefsList.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
}
